/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after { box-sizing: border-box; }

/* 2. Remove default margin */
* { margin: 0; }

/* 3. Allow percentage-based heights in the application */
html, body { height: 100%; }

/* Typographic tweaks! 4. Add accessible line-height 5. Improve text rendering */
body { line-height: 1.5; -webkit-font-smoothing: antialiased; }

/* 6. Improve media defaults */
img, picture, video, canvas, svg { display: block; max-width: 100%; }

/* 7. Remove built-in form typography styles */
input, button, textarea, select { font: inherit; }

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }

/* 9. Create a root stacking context */
#root, #__next { isolation: isolate; }

.wrapper-main, .wrapper-header, .wrapper-footer { width: 100%; margin: 0 auto; max-width: 900px; }

/* Sticky Footer */
.wrapper { min-height: calc(100vh - 40px); }

.wrapper-footer { height: 40px; }

/* End Sticky Footer */
/* Style inspiration and settings adapted from https://github.com/jgthms/web-design-in-4-minutes*/
/* Base */
html { font-size: 1em; }

/* 01 Font family */
body { font-family: "Open Sans", "Helvetica", sans-serif; }

/* 03 Spacing */
.padded { padding-top: 30px; padding-bottom: 30px; line-height: 30px; }

.main-content { padding-top: 30px; padding-bottom: 30px; line-height: 30px; }

div.main-content h2 { padding-top: 15px; padding-bottom: 20px; }

.datetime { padding-bottom: 10px !important; }

header h1, h5 { display: inline; }

/* 04 Color and contrast */
body { color: #c5ccce; background-color: #191f2b; }

h1, h2, strong { color: #dcdede; }

header h5 { font-weight: lighter; }

/* 05 Balance */
code { padding: 2px 4px; vertical-align: text-bottom; }

/* 06 Primary color */
a { color: #7e92a2; text-decoration: none; }

/* 07 Secondary colors */
h1, h2, strong { font-weight: 500; }

.footer-text { display: block; position: relative; font-size: 14px; }

.header { padding-top: 35px; }

.header nav { padding-top: 10px; padding-bottom: 20px; }

.header nav a { padding-right: 3px; }

.float-left { float: left; }

.float-right { float: right; }

.float-center { text-align: center; }

.post-item { display: block; position: relative; line-height: 24px; padding-bottom: 5px; margin: 5px 0; }

.post-summary { padding-top: 30px; padding-bottom: 30px; }

.post-nav { padding-top: 100px; text-align: center; }

.category-summary { padding-top: 30px; padding-bottom: 30px; }

.category-all-nav, .category-header { display: block; position: relative; line-height: 24px; margin: 5px 0; padding-bottom: 10px; padding-top: 10px; }

.post-info { padding-bottom: 30px; margin: 20px 0 5px; padding-top: 20px; }

.post-content { line-height: 35px; padding-bottom: 50px; }

.post-content h1, h3, code, pre { padding-bottom: 10px; padding-top: 10px; }

.post-content h2 { padding-bottom: 20px; padding-top: 20px; }

.post-title ul { margin: 0; padding: 0; }

.post-title ul { list-style-type: none; }

.post-title ul > li { text-indent: -5px; }

.post-title ul > li:before { content: "- "; text-indent: -5px; }

@media only screen and (max-width: 479px) { .mobile-hide { display: none !important; } .footer-text { float: left !important; } html { margin: 1em !important; } }

/*# sourceMappingURL=styles.css.map */