<!DOCTYPE html>
<html lang="en-GB">
{% include head.html %}

<body>
    {% include svg-icons.html %}
    {% include header-post.html %}
    <section class="post" itemscope itemtype="http://schema.org/BlogPosting">

        <article role="article" id="scroll" class="post-content" itemprop="articleBody">
            {{ content }}

            <div class="post-content bs-callout bs-callout-info">
                Are you confused about the ever growing number of services in AWS and Azure? Why not checkout these
                super useful glossaries that are always up to date!
                <br />There is one for <a target="_blank" href="https://aws.servicelist.cloud/">AWS</a>
                and one for <a target="_blank" href="https://azure.servicelist.cloud">Azure</a>
            </div>

            <div class="tags">
                {% for tag in page.tags %}
                <a href="{{ site.baseurl }}/tags/#{{tag | slugify }}">{{ tag }}</a>
                {% endfor %}
            </div>
            <a href="#" data-scroll role="button" id="back-to-top" class="back-to-top" style="display: inline;">Top</a>
        </article>

        {% include share.html %}
        {% include author.html %}
        {% include comments.html %}
        {% include footer.html %}
    </section>

</body>
<script>
    $(function () {
        if (window.location.href.indexOf('#') == -1) {
            setTimeout(function () {

                if (window.scrollY == 0) {
                    $('#scrolllink').click();
                }
            }, 1200);
        }

    });
</script>

</html>